#a, #c, #cc, #print, .scene, .spi{display :none;}
#b{margin-top: 15px;}
#titreprint{display :block; margin: 5% 0 7% 0; width: 100%; text-align: center; font-family: "Times New Roman"; font-size: 1.3em;}
#soustitreprint{display :block; margin: 5% 0 7% 0; width: 100%; text-align: center; font-family: "Times New Roman"; font-size: 0.9em; font-style: italic;}

.spiprint{display :block; width:100%; margin-left: 6%; margin-right: 6%}
.legprint{display: block; width: 88%; text-align: center; font-size: 0.675em; color:#0080ff; line-height:100%;}
.pigprint{display: inline-block; height:45%; width: 45%; margin:5px;}
.piprint{display: inline-block; height:20%; width: 20%; margin:5px;}