#body{padding:5px; width: 100%;}
#print{margin:-10px 0 15px 0; width: 100%; text-align: center;}
#titreprint{display: none;}
#soustitreprint{display :none;}
.projet{background-color:rgba(240, 243, 243, 1); padding: 2px; }
#a{z-index: 1; position:fixed; top:0px; left:0px; right:0px; margin-top:0px; margin-bottom: 5px; background-color: #0080ff;font-family: "Helvetica"; font-size: 0.88em; }
#a a{text-decoration: none; margin-left: -23px; color:#fff; }
#a ul{list-style-type: none;}
#a li:hover{margin-left: 1px} 
#b{margin-top: 85px; width: auto; font-family: "Times New Roman"; font-size: 0.875em; line-height:26px;}
#b a{color:#0080ff;}
#b a:hover{color:#3399ff; }
#b a:visited{color:#66b3ff;}
#b h4{clear: left; font-size: 0.9em; margin: -10px 0px -5px 0px;}
#b h5{clear: left; font-size: 0.875em; margin: 0px 0px -5px 0px;}
#b p{clear: left; font-size: 0.8em; margin-left: 5px; text-align: justify;	text-justify: inter-word; padding: 0 5% 0 5%;}
#b ul{clear: left; list-style-type: none;}
#b li{clear: left; font-size: 0.8em;}
.legprint, .spiprint, .spigprint, .piprint, .pigprint{display :none;}
#b .leg{position: absolute; display: block; min-height: 100% !important; width: 280px; margin-left: -10%; margin-right:1%; left:1%; right:1%; top:-20px; font-size: 0.675em; color:#0080ff; line-height:100%;}
#b .spi{z-index: 0; width: 70%; margin-left: 20%; margin-right:10%; margin-top: 25px; left:20%; right:20%; margin-bottom: 25px; -webkit-perspective: 1200px; perspective: 1200px;}
#b .spig{z-index: 0; width: 70%; margin-left: 20%; margin-right:10%; margin-top: 25px; left:20%; right:20%; margin-bottom: 25px; -webkit-perspective: 1200px; perspective: 1200px;}
#b .pi{display: inline-block; height:25%; width: 25%; margin-left: 1%; margin-right: 1%; margin-bottom: -3%;-webkit-transform: rotateX(40deg); transform: rotateX(40deg); transition: width 2s;}
#b .pig{display: inline-block; height:40%; width: 40%; margin-left: 1%; margin-right: 1%; margin-bottom: -3%;-webkit-transform: rotateX(40deg); transform: rotateX(40deg); transition: width 2s;}
#b .pi:hover{z-index: 1;height:40%; width: 40%; -webkit-transform: rotateX(0deg); transform: rotateX(0deg);}
#b .pig:hover{z-index: 1;height:55%; width: 55%; -webkit-transform: rotateX(0deg); transform: rotateX(0deg);}
.links line {stroke: #0080ff; stroke-opacity: 0.3;}
.nodes circle {stroke: #0080ff; stroke-width: 1.5px;}
#c{position:fixed; bottom:0px; left:0px; right:0px; margin-bottom:0px; margin-top: 5px;  border-top:1px dashed #0080ff; padding: 3px; background-color: #fff;}
#d{margin-bottom: 100px; width: auto; font-family: "Times New Roman"; font-size: 0.875em; line-height:110%}
#d p{font-size: 0.8em; margin-left: 5px;}
.scene {z-index: 1; position:fixed; top: 15px; right:20px; width: 30px; height: 30px; margin-right:auto; perspective: 120px;}
.cube {position: relative; width: 30px; height: 30px; transform-style: preserve-3d; animation: example 10s linear infinite;}
.side {position: absolute; width: 30px; height: 30px; box-sizing: border-box; border: 1px solid #fff; background-color: rgba(32, 170, 151, 0.5); font: 10px 'Trebuchet MS', sans-serif; color: #fff; padding-top: 8px; text-transform: uppercase; text-align: center;}
.back {transform: translateZ(-0px);}
@keyframes example { 100% { transform: rotateY(360deg); }}


#pyg td.linenos { background-color: #f0f0f0; padding-right: 10px; }
#pyg span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
#pyg pre { line-height: 125%; }
#pyg .hll { background-color: #ffffcc }
#pyg  { background: #f0f3f3; }
#pyg .c { color: #0099FF; font-style: italic } /* Comment */
#pyg .err { color: #AA0000; background-color: #FFAAAA } /* Error */
#pyg .k { color: #006699; font-weight: bold } /* Keyword */
#pyg .o { color: #555555 } /* Operator */
#pyg .ch { color: #0099FF; font-style: italic } /* Comment.Hashbang */
#pyg .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
#pyg .cp { color: #009999 } /* Comment.Preproc */
#pyg .cpf { color: #0099FF; font-style: italic } /* Comment.PreprocFile */
#pyg .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
#pyg .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
#pyg .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
#pyg .ge { font-style: italic } /* Generic.Emph */
#pyg .gr { color: #FF0000 } /* Generic.Error */
#pyg .gh { color: #003300; font-weight: bold } /* Generic.Heading */
#pyg .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
#pyg .go { color: #AAAAAA } /* Generic.Output */
#pyg .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
#pyg .gs { font-weight: bold } /* Generic.Strong */
#pyg .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
#pyg .gt { color: #99CC66 } /* Generic.Traceback */
#pyg .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
#pyg .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
#pyg .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
#pyg .kp { color: #006699 } /* Keyword.Pseudo */
#pyg .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
#pyg .kt { color: #007788; font-weight: bold } /* Keyword.Type */
#pyg .m { color: #FF6600 } /* Literal.Number */
#pyg .s { color: #CC3300 } /* Literal.String */
#pyg .na { color: #330099 } /* Name.Attribute */
#pyg .nb { color: #336666 } /* Name.Builtin */
#pyg .nc { color: #00AA88; font-weight: bold } /* Name.Class */
#pyg .no { color: #336600 } /* Name.Constant */
#pyg .nd { color: #9999FF } /* Name.Decorator */
#pyg .ni { color: #999999; font-weight: bold } /* Name.Entity */
#pyg .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
#pyg .nf { color: #CC00FF } /* Name.Function */
#pyg .nl { color: #9999FF } /* Name.Label */
#pyg .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
#pyg .nt { color: #330099; font-weight: bold } /* Name.Tag */
#pyg .nv { color: #003333 } /* Name.Variable */
#pyg .ow { color: #000000; font-weight: bold } /* Operator.Word */
#pyg .w { color: #bbbbbb } /* Text.Whitespace */
#pyg .mb { color: #FF6600 } /* Literal.Number.Bin */
#pyg .mf { color: #FF6600 } /* Literal.Number.Float */
#pyg .mh { color: #FF6600 } /* Literal.Number.Hex */
#pyg .mi { color: #FF6600 } /* Literal.Number.Integer */
#pyg .mo { color: #FF6600 } /* Literal.Number.Oct */
#pyg .sb { color: #CC3300 } /* Literal.String.Backtick */
#pyg .sc { color: #CC3300 } /* Literal.String.Char */
#pyg .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
#pyg .s2 { color: #CC3300 } /* Literal.String.Double */
#pyg .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
#pyg .sh { color: #CC3300 } /* Literal.String.Heredoc */
#pyg .si { color: #AA0000 } /* Literal.String.Interpol */
#pyg .sx { color: #CC3300 } /* Literal.String.Other */
#pyg .sr { color: #33AAAA } /* Literal.String.Regex */
#pyg .s1 { color: #CC3300 } /* Literal.String.Single */
#pyg .ss { color: #FFCC33 } /* Literal.String.Symbol */
#pyg .bp { color: #336666 } /* Name.Builtin.Pseudo */
#pyg .vc { color: #003333 } /* Name.Variable.Class */
#pyg .vg { color: #003333 } /* Name.Variable.Global */
#pyg .vi { color: #003333 } /* Name.Variable.Instance */
#pyg .il { color: #FF6600 } /* Literal.Number.Integer.Long */